<footer id="connect">

  <div class="row">

    <div class="small-12 medium-4 medium-centered columns">

      <div class="small-3 medium-3 columns icon"><a href="https://www.facebook.com/vipul.bansal.378">{% include Icons/icon-facebook.html %}</a></div>

      <div class="small-3 medium-3 columns icon"><a href="https://www.twitter.com/vipsyvipul">{% include Icons/icon-twitter.html %}</a></div>

      <div class="small-3 medium-3 columns icon"><a href="https://www.github.com/vipsyvipul">{% include Icons/icon-github.html %}</a></div>

      <div class="small-3 medium-3 columns icon"><a href="https://in.linkedin.com/in/bansalvip">{% include Icons/icon-linkedin.html %}</a></div>

    </div>

  </div>

</footer>
