<footer class="social" id="social">
    <div class="row">

        <ul class="small-12 medium-4 medium-centered large-4 large-centered columns">
            <p>Find me here! &darr;</p>
            <li>
                <a href="https://www.facebook.com/vipsyvipul"><img src="/assets/icons/social/facebook.svg" alt="Facebook"></a>
            </li>
            <li>
                <a href="https://www.twitter.com/vipsyvipul"><img src="/assets/icons/social/twitter.svg" alt="Twitter"></a>
            </li>
            <li>
                <a href="https://www.github.com/vipsyvipul"><img src="/assets/icons/social/github.svg" alt="Github"></a>
            </li>
            <li>
                <a href="https://in.linkedin.com/in/bansalvip"><img src="/assets/icons/social/linkedin.svg" alt="LinkedIn"></a>
            </li>
        </ul>
    </div>
    <div class="credits">
    	Tailored with passion &#x25cf; <a href="/credits.txt">Credits</a>
    </div>
</footer>
