	<meta property="og:title" content="Curious - VipsyVipul" />
	<meta property="og:type" content="website">
	<meta property="og:url" content="http://vipsyvipul.github.io" />
	<meta property="og:image" content="assets/images/logo.png" />
	<meta property="og:description" content="Personal blog of Vipul Bansal">
    
 <!-- Autopilot Code Start -->
<!-- <script type="text/javascript">(function(o){var b="https://api.autopilothq.com/anywhere/",t="41eed19973b74bb2b2d0fce18c2e98ff5b26db5d6d1143d4ade7a4b54b19643c",a=window.AutopilotAnywhere={_runQueue:[],run:function(){this._runQueue.push(arguments);}},c=encodeURIComponent,s="SCRIPT",d=document,l=d.getElementsByTagName(s)[0],p="t="+c(d.title||"")+"&u="+c(d.location.href||"")+"&r="+c(d.referrer||""),j="text/javascript",z,y;if(!window.Autopilot) window.Autopilot=a;if(o.app) p="devmode=true&"+p;z=function(src,asy){var e=d.createElement(s);e.src=src;e.type=j;e.async=asy;l.parentNode.insertBefore(e,l);};if(!o.noaa){z(b+"aa/"+t+'?'+p,false)};y=function(){z(b+t+'?'+p,true);};if(window.attachEvent){window.attachEvent("onload",y);}else{window.addEventListener("load",y,false);}})({});</script> -->
<!-- Autopilot Code End -->

<script type="text/javascript">
    (function(p,u,s,h){
        p._pcq=p._pcq||[];
        p._pcq.push(['_currentTime',Date.now()]);
        s=u.createElement('script');
        s.type='text/javascript';
        s.async=true;
        s.src='https://cdn.pushcrew.com/js/f9c0123faeb84a20a8bdb72002a49cbd.js';
        h=u.getElementsByTagName('script')[0];
        h.parentNode.insertBefore(s,h);
    })(window,document);
</script>
</head>
