	<meta property="og:title" content="Curious - VipsyVipul" />
	<meta property="og:type" content="website">
	<meta property="og:url" content="http://vipsyvipul.github.io" />
	<meta property="og:image" content="assets/images/logo.png" />
	<meta property="og:description" content="Personal blog of Vipul Bansal">
    <!-- Intercom code start -->
 <script>
  window.intercomSettings = {
    app_id: "es2q2rn6"
  };
</script>
<script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/es2q2rn6';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>
<!-- Intercom Code end -->
<script type="text/javascript">
    (function(p,u,s,h){
        p._pcq=p._pcq||[];
        p._pcq.push(['_currentTime',Date.now()]);
        s=u.createElement('script');
        s.type='text/javascript';
        s.async=true;
        s.src='https://cdn.pushcrew.com/js/f9c0123faeb84a20a8bdb72002a49cbd.js';
        h=u.getElementsByTagName('script')[0];
        h.parentNode.insertBefore(s,h);
    })(window,document);
</script>
</head>
