<section class="menu">
    <div class="row menu-list">
        <nav>
            <ul>
                <li><a href="/">Blog</a></li>
                <li><a href="/about/">About</a></li>
                <li><a href="/work/">Work</a></li>
                <li><a href="/work/#contact">Contact</a></li>
            </ul>
        </nav>
        <div class="menu-icon">
            <img src="/assets/icons/menu.svg" alt="Open">
        </div>
    </div>
    <div class="logo">
        <a href="/"><img src="/assets/images/logo.svg" alt="VipsyVipul"></a>
    </div>
</section>
