<!DOCTYPE html>
<html>

  {% include head.html %}

    <body>

    <header id="home">

    <div class="row">
      <nav class=" small-12 medium-3 medium-push-9 columns">
        <ul class="inline-list">
          <li class="small-6 medium-4 columns"><a href="/about">About<a></li>
          <li class="small-6 medium-4 columns"><a href="#connect">Connect</a></li>
        </ul>
      </nav>
    </div>
    <div class="row">
      <div class="small-12 medium-10 medium-centered columns">
        <a href="{{ site.url }}"><h1 class="title"><span>Curious</span></h1></a>
      </div>
    </div>

</header>


    <div class="row">
      <div class="small-12 medium-8 medium-centered columns">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

    </body>
</html>